
body, html {
  font-size: 16px;
  position: absolute;
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url(./img/background1.jpg);
  background-size: cover;
}

header {
  margin-left: 200px;
  margin-right: 10%;;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0px;
  font-size: 60px;
  font-family: 'Marck Script', cursive;
}

i {
  margin-right: 5px;
}
  i:hover {
    cursor: pointer;
  }

textarea {
  width: 93%;
  margin-left: 2%;
  margin-right: 2%;
}

.button {
  cursor: pointer;
  background-color: #E06565;
}
  .button:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
  }

.heading {
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
  .heading h3 {
    margin: 0px;
    margin-left: 3px;
    margin-right: 10px;
  }
  .heading input {
    width: 130px;
    margin-left: 2px;
  }

.new-note-container {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.new-note-input > input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 2px;
}

.note {
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  position: fixed;
  background: #FFF300;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 400px;
  min-width: 200px;
  min-height: 250px;
}

.note-section {
  flex-grow: 1;
}

.note-text {
  width: 94%;
  margin-left: 3%;
}
  .note-text img {
    max-width: 100%;
  }

.react-data {
  height: 100%;
}

#main {
  top: 0;
  height: 100%;
}


@media only screen and (max-width: 750px) {
  body {
    background-image: url(./img/background2.jpg);
  }

  header {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    margin-left: 0px;
    margin-right: 0px;
    height: 16%;
    justify-content: space-around;
    flex-direction: column;
  }
}
