
body, html {
  position: absolute;
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
  width: 100%;
  height: 100%;
  margin: 0;
}


.heading {
  margin-left: 2px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
  .heading p {
    margin: 0px;
  }

.note {
  background: #FFF;
  display: inline-block;
  border-style: solid;
  border-color: gray;
}

textarea {
  width: 93%;
  margin-left: 2%;
  margin-right: 2%;
}


i {
  margin-right: 5px;
}
  i:hover {
    cursor: pointer;
  }
